<template>
  <div>
    <h3>{{ message }}</h3>

    <div id="login">
      <h1>Inscription</h1>
      <p>
        <label for="nom"> Nom :</label>
        <input type="text" ref="nom" v-model="nom" />
      </p>
      <p>
        <label for="prenom"> Prenom:</label>
        <input type=" text " ref="prenom" v-model="prenom" />
      </p>
      <p>
        <label for="email">email:</label>
        <input
          type=" email "
          ref="email"
          placeholder="exemple@gmail.com"
          v-model="email"
        />
      </p>
      <p>
        <label for="password">Mot de passe:</label>
        <input type="password" ref="password" v-model="password" required="required" />
      </p>
      <p>
        <label for="password-confirmation">confirmer mot de passe:</label>
        <input
          type="password"
          ref="password-confirmation"
          v-model="password_confirmation"
        />
      </p>
      <button v-on:click="login()">S'inscrire</button>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    nom: "",
    prenom: "",
    email: "",
    password: "",
    password_confirmation: "",
    isDisplay: false,
    message: "",
  }),

  methods: {
    login() {
      let newUser = {
        nom: this.nom,
        prenom: this.prenom,
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation,
      };
      this.$store.state.users.push(newUser);
      //console.log(this.$store.state.users);
      if (
        this.nom != "" &&
        this.prenom != "" &&
        this.email != "" &&
        this.password_confirmation != "" &&
        this.password != ""
      ) {
        this.$router.push({
          name: "Login",
          params: { email: this.email },
        });

        this.$store.dispatch("createAccount", {
          nom: this.nom,
          prenom: this.prenom,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
        });
      } else {
        this.isDisplay = true;
        this.message = "Veuillez remplir l'intégralité des champs";
        console.log("The username and / or password is incorrect");
      }
    },
  },

  created() {
    //console.log(this.$route.params.lastName);
  },
};
</script>
<style scoped>
#login {
  width: 500px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}
</style>
