<template>
  <div class="card">
    <hr />
    <div class="card">
      <button class="button" v-on:click="logout()">Logout</button>
    </div>

    <hr />
    <h1>Hello, I'm a list</h1>
    <p>{{ checkNeeds }}</p>
  </div>
</template>

<script>
export default {
  data: () => ({
    getTable: [],
    checkNeeds: [],
  }),
  methods: {
    logout() {
      this.$router.push({
        name: "Login",
        params: {},
      });
    },
  },
  created() {
    this.getTable = JSON.parse(localStorage.getItem("bookings"));
    this.checkNeeds = this.getTable.filter(
      (elmt) => elmt.email === this.$route.params.email
    );
    console.log(this.$route.params.email);
  },
};
</script>
