<template>
  <div class="card">
    <h1>Prenez Rendez-vous maintenant !</h1>
    <div class="card">
      <h1 class="card__title">Register</h1>
      <div class="form-row">
        <input
          class="form-row__input"
          type="text"
          ref="firstName"
          v-model="firstName"
          required
          placeholder="prenom"
        />
      </div>
      <div class="form-row">
        <input
          class="form-row__input"
          type="text"
          ref="lastName"
          v-model="lastName"
          required
          placeholder="nom"
        />
      </div>
      <div class="form-row">
        <input
          class="form-row__input"
          type="email"
          name=""
          ref="email"
          v-model="email"
          placeholder="email"
        />
      </div>
      <div class="form-row">
        <input
          class="form-row__input"
          type="number"
          name=""
          ref="phoneNumber"
          v-model="phoneNumber"
          placeholder="tél"
        />
      </div>
      <div class="form-row">
        <p>
          <input class="form-row__input" type="date" name="" ref="date" v-model="date" />
        </p>
        <p><button class="button" id="btn" @click="operation">Submit</button></p>
        <button class="button" v-if="isDisplay" @click="secondo">list</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    firstName: "",
    lastName: "",
    email: "",
    phoneNumber: "",
    date: "",
    bookings: [],
    isDisplay: false,
    getTable: [],
    display: [],
    user: "",
    get: [],
  }),

  methods: {
    operation() {
      let newBooking = {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        phoneNumber: this.phoneNumber,
        date: this.date,
      };

      if (localStorage.getItem("bookings")) {
        this.bookings = JSON.parse(localStorage.getItem("bookings"));
      }

      this.bookings.push(newBooking);
      localStorage.setItem("bookings", JSON.stringify(this.bookings));
      this.isDisplay = true;
      this.$refs["firstName"].value = "";
      this.$refs["lastName"].value = "";
      this.$refs["email"].value = "";
      this.$refs["phoneNumber"].value = "";
      this.$refs["date"].value = "";
    },

    login() {
      if (this.lastName != "" && this.password != "") {
        this.$router.push({
          name: "Authentication",
          params: { lastName: this.lastName },
        });
        console.log("votre email est:" + " " + this.lastName);
      } else {
        console.log("The username and / or password is incorrect");
      }
    },

    secondo() {
      this.$router.push({ name: "List", params: { email: this.email } });
    },
  },
};

/* The key fingerprint is:
SHA256:TntcLqpzf3H77NepX9SEGIWBuQ/lkerH6njIl7fgGf0 lionelagossadou@gmail.com
The key's randomart image is:
+--[ED25519 256]--+
|           oo=.  |
|          o =o . |
|           =... .|
|          + .  ..|
|        S. +.   o|
|       o o.+= .. |
|       .o.*+oo .+|
|      . +===o..o+|
|      .+o==o.oE+=|
+----[SHA256]-----+ */
</script>
<style scoped>
.form-row {
  display: flex;
  margin: 16px 0px;
  gap: 16px;
  flex-wrap: wrap;
}

.form-row__input {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #f2f2f2;
  font-weight: 500;
  font-size: 16px;
  flex: 1;
  min-width: 100px;
  color: black;
}

.form-row__input::placeholder {
  color: #aaaaaa;
}
</style>
